/* Estilos generales */
body {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
    background-color: #f4f4f4;
    box-sizing: border-box;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
}

/*seccion uno 1*/

.container1 {
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-start;
    align-items: center;
    margin: 0 auto;
    max-width: 1200px;
    padding: 0 20px;
    text-align: center;
    height: 100%;
}

.seccionuno {
    background-image: url('https://retofreedom.sfo3.cdn.digitaloceanspaces.com/reg6/backgrounds/fondodiv1pc.webp');
    background-size: cover;
    background-repeat: no-repeat;
    height: 110vh;
    display: flex;
    align-items: flex-end;
}

.container1 h1 {
    font-size: 48px;
    font-weight: 400;
    line-height: 1.2;
    color: #FFFFFF;
    margin-bottom: 0;
}
.container1 p {
    font-size: 30px;
    line-height: 1.2;
    color: #FFFFFF;
    margin-top: 1vh;
}
.textoverde {
    font-weight: bold;
    background: linear-gradient(to right, #4DBD49, #69D165, #86E583);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    color: transparent;
}
.cta-button {
    margin-top: 0;
    margin-bottom: 10vh;
    padding: 16px 90px;
    background: linear-gradient(90deg, #4DBD49 0%, #7EDB7B 50%, #B7FFB5 100%);
    color: rgb(255, 255, 255);
    font-size: 18px;
    border: none !important;
    border-radius: 11px;
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
}

.botonesglow {
    animation: pisca 1.5s infinite;
    box-shadow: 0px 0px 21px -6px #4DBD49;
}
@keyframes pisca {
    70% {
        box-shadow: 0 0 0 25px rgba(0,0,0,0);
    }
    100% {
        box-shadow: 0 0 0 0 rgba(0,0,0,0);
    }
}
.seccionuno, .footerdiv1 {
    display: block;
    width: 100%;
}
.footerdiv1 {
    margin-bottom: 10vh;
    width: 100%;
    max-width: 100%;
    overflow-x: hidden;
    display: block;
}

.footerdiv1 img {
    width: 100%;
    height: auto;
    display: block;
}
/*SECCION 1 MOBILE*/

.seccionunomobile {
    background-image: url('https://retofreedom.sfo3.cdn.digitaloceanspaces.com/reg6/backgrounds/fondodiv1mobfinal.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    height: 100vh;
    width: 100%;
    position: relative;
    overflow: hidden;
}
.container1mobile {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    text-align: center;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
}
.container1mobile h1 {
    font-size: 28px;
    font-weight: 400;
    line-height: 1.2;
    color: #FFFFFF;
    margin-bottom: 0;
    margin: 1vh;
}
.container1mobile p {
    font-size: 16px;
    line-height: 1.2;
    color: #FFFFFF;
    margin: 1vh;
}
.cta-buttonmobile {
    margin-top: 0;
    padding: 16px 25px;
    background: linear-gradient(90deg, #4DBD49 0%, #7EDB7B 50%, #B7FFB5 100%);
    color: rgb(255, 255, 255);
    font-size: 18px;
    border: none !important;
    border-radius: 11px;
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
    margin-top: 2vh;
    margin-bottom: 3vh;
}

@media (min-width: 768px) {
    .seccionuno { display: block; }
    .seccionunomobile { display: none; }
    .footerdiv1 { display: block; }
}
@media (max-width: 767px) {
    .seccionuno { display: none; }
    .seccionunomobile { display: block; }
    .footerdiv1{ display: none; }
}

/* SECCION 2 */
.secciondos {
    background-color: #ffffff;
    background-image: url('https://retofreedom.sfo3.cdn.digitaloceanspaces.com/reg6/backgrounds/fondodiv2pc.webp');
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px;
}

.secciondos h1 {
    font-size: 48px;
}

.cards-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    margin-bottom: 50px;
    width: 100%;
    max-width: 1200px;
}

.card {
    flex: 0 1 30%;
    margin: 10px 2%;
}

.card img {
    width: 100%;
    height: auto;
    display: block;
}

.imagen-texto-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: nowrap;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.imagen-container {
    flex: 0 1 50%;
    padding-right: 20px;
}

.imagen-container img {
    width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
}

.texto-container {
    flex: 0 1 50%;
    text-align: left;
}

.texto-container h1 {
    font-size: 48px;
    line-height: 1.2;
    font-weight: bold;
    color: #4DBD49;
}

.texto-container p {
    font-size: 22px;
    line-height: 1.2;
    color: #000000;
    margin-bottom: 10vh;
}


@media (max-width: 768px) {
    .secciondos {
        background-image: url('https://retofreedom.sfo3.cdn.digitaloceanspaces.com/reg6/backgrounds/fondodiv2mobfinal.webp');
    }
    .secciondos h1 {
        font-size: 28px;
    }

    .card {
        flex: 0 1 100%;
    }

    .imagen-texto-container {
        flex-direction: column;
        padding: 10px;
    }
    .imagen-container, .texto-container {
        flex: 0 1 100%;
        width: 100%;
        padding-right: 0;
        padding-left: 0;
    }
    .imagen-container img {
        width: 100%;
        margin-left: 0;
        margin-top: 0;
    }

    .texto-container h1 {
        font-size: 28px;
    }

    .texto-container p {
        font-size: 16px;
        margin-bottom: 0;
    }
    .cards-container {
        flex-direction: column;
        align-items: center;
    }

    .card {
        width: 100%;
        max-width: 300px;
        margin-bottom: 20px;
    }
    .imagen-texto-container,
    .imagen-texto-container3 {
      flex-direction: column-reverse;
    }
  
    .imagen-container,
    .texto-container,
    .imagen-container3,
    .texto-container3 {
      width: 100%;
    }
    .imagen-container,
    .imagen-container3 {
      order: 2;
    }
  
}



/*SECCION 3*/

.secciontres {
    background-color: #ffffff;
    background-image: url('https://retofreedom.sfo3.cdn.digitaloceanspaces.com/reg6/backgrounds/fondodiv3pc.webp');
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.secciontres h1 {
    margin-top: 5vh;
    margin-bottom: 5vh;
    font-size: 40px;
    color: #FFFFFF;
}

.greenline {
    max-width: 50%;
    margin-left: 0;
    display: block;
}

.cards-container-seccion3 {
    display: flex;
    justify-content: center;
    align-items: stretch;
    flex-wrap: wrap;
    margin-bottom: 50px;
    width: 100%;
    max-width: 1200px;
}

.card3 {
    flex: 0 1 calc(33.333% - 40px);
    margin: 0 20px 20px;
    display: flex;
}

.card3 img {
    width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
}

.imagen-texto-container3 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: nowrap;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.imagen-container3 {
    flex: 0 1 50%;
    padding-right: 20px;
}

.imagen-container3 img {
    width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
}

.texto-container3 {
    flex: 0 1 50%;
    text-align: left;
    color: #FFFFFF;
}

.texto-container3 h2 {
    color: #FFFFFF;
    font-size: 34px;
}

.texto-container3 ul li::marker {
    color: #4DBD49;
}

.texto-container3 ul {
    padding-inline-start: 2vh;
}

.texto-container3 ul li {
    color: #FFFFFF;
    font-size: 24px;
}

.footerdiv3 {
    margin-bottom: 10vh;
    width: 100%;
    max-width: 100%;
    overflow-x: hidden;
}

.footerdiv3 img {
    width: 100%;
    height: auto;
    display: block;
}

.metodofreedom h1 {
    background: linear-gradient(to right, #4DBD49, #86E583, #4DBD49);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    color: transparent;
    margin-top: 0;
    font-size: 64px;
}

.metodofreedom h2 {
    color: #FFFFFF;
    margin-bottom: 0;
    font-size: 32px;
}

@media (max-width: 768px) {
    .secciontres {
        background-image: url('https://retofreedom.sfo3.cdn.digitaloceanspaces.com/reg6/backgrounds/fondodiv3mob.webp');
    }

    .secciontres h1 {
        font-size: 28px;
    }
    .cards-container-seccion3 {
        max-width: 80%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: auto;
        margin-right: auto;
    }

    .card3 {
        flex: 0 1 100%;
        margin: 0 0 20px;
    }

    .imagen-texto-container3 {
        flex-direction: column;
        padding: 10px;
    }

    .imagen-container3, .texto-container3 {
        flex: 0 1 100%;
        width: 100%;
        padding-right: 0;
        padding-left: 0;
    }
    .texto-container3{
        max-width: 90%;
        margin-bottom: 20px;
    }
    .texto-container3 h2 {
        font-size: 32px;
        line-height: 1.2;
        margin-bottom: 1vh;
    }
    .greenline {
        max-width: 105%;
        margin-bottom: 1vh;
    }
    .texto-container3 ul li {
        font-size: 18px;
    }
    .footerdiv3 img {
        content: url('https://retofreedom.sfo3.cdn.digitaloceanspaces.com/reg6/backgrounds/footerdediv1mob.png');
        width: 100%;
        height: auto;
        display: block;
    }

    .metodofreedom h1 {
        font-size: 36px;
    }

    .metodofreedom h2 {
        font-size: 24px;
    }
    .cta-button {
        padding: 16px 45px;
    }
}
