/* Estilos generales */
body {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
    background-color: #f4f4f4;
    box-sizing: border-box;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
}

/*seccion uno 1*/
.container1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}

.seccionuno {
    background-image: url('https://retofreedom.sfo3.cdn.digitaloceanspaces.com/reg8/backgrounds/Fondodiv1PC.png');
    background-size: cover;
    background-position: center;
    min-height: 85vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.left-section {
    flex: 1;
    text-align: left;
    padding-left: 5vh;
}

.right-section {
    flex: 1;
    text-align: right;
}

.img-logo {
    max-width: 60%;
    height: auto;
    margin-bottom: 3vh;
}

.container1 h1 {
    font-size: 40px;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.2;
    margin-bottom: 1vh;
}
.headverde {
    color: #4DBD49;
}


.p1p1 {
    color: #333A32;
    font-size: 24px;
    margin: 0px;
    font-family: 'DM sans', sans-serif;
    line-height: 1.2;

}
.p2p2 {
    color: #333A32;
    font-size: 20px;
    margin: 0px;
    font-family: 'DM sans', sans-serif;
}

.cta-button {
    margin-top: 20px;
    padding: 2.75vh 11.25vh;
    background: linear-gradient(90deg, #4DBD49 20%, #80e17d 50%, #4DBD49 80%) !important;
    color: rgb(255, 255, 255);
    font-size: 24px;
    border: none !important;
    border-radius: 11px;
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
}

.botonesglow {
    animation: pisca 1.5s infinite;
    box-shadow: 0px 0px 21px -6px #4DBD49;
}

.side-image {
    max-width: 100%;
    height: auto;
}

.logofreedom1{
    max-width: 70%;
    height: auto;
    margin: 1vh;
}
.fechascardpc{
    max-width: 80%;
    height: auto;
    margin-bottom: 2vh;
}

@keyframes pisca {
    70% {
        box-shadow: 0 0 0 25px rgba(0,0,0,0);
    }
    100% {
        box-shadow: 0 0 0 0 rgba(0,0,0,0);
    }
}
.reloj {
    background: linear-gradient(90deg, #4DBD49, #80e17d);
}

.timer-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 15px;
}

.timer-text {
    flex: 1 1 100%;
    text-align: center;
    margin-bottom: 20px;
}

.timer-text h2 {
    font-size: 24px;
    font-weight: 700;
    color: #ffffff;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin: 0;
}

.countdown {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.time-unit {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.time-unit span {
    font-size: 36px;
    font-weight: bold;
    color: #ffffff;
    padding: 15px;
    min-width: 80px;
    text-align: center;
    transition: all 0.3s ease;
}

.time-unit span#days,
.time-unit span#hours,
.time-unit span#minutes,
.time-unit span#seconds {
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.time-unit span:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
}

.time-unit .label {
    font-size: 14px;
    color: #ffffff;
    margin-top: 5px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

@media (max-width: 768px) {
    .timer-container {
        padding-top: 15px;
        padding-bottom: 0px;
        flex-direction: column;
    }

    .timer-text {
        margin-bottom: 10px;
    }

    .timer-text h2 {
        font-size: 18px;
        margin-bottom: 10px;
    }

    .countdown {
        flex-wrap: nowrap;
        justify-content: space-between;
        width: 100%;
    }

    .time-unit {
        margin: 0 5px;
    }

    .time-unit span {
        font-size: 24px;
        padding: 8px;
        min-width: 40px;
        height: 40px;
    }

    .time-unit .label {
        font-size: 8px;
    }
}

@media (max-width: 375px) {
    .time-unit span {
        font-size: 18px;
        padding: 6px;
        min-width: 30px;
        height: 30px;
    }

    .time-unit .label {
        font-size: 8px;
    }
}

/* SECCION 1 MOBILE */
.seccionunomobile {
    display: none;
}
.fechascard{
    max-width: 80%;
    height: auto;
    transform: translateY(-3vh);
}
@media (max-width: 768px) {
    .seccionuno {
        display: none;
    }
    .seccionunomobile {
        display: block;
        background-color: #f5f5f5;
        background-image: url('https://retofreedom.sfo3.cdn.digitaloceanspaces.com/reg8/backgrounds/Div1Mobile');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        height: auto;
    }

    .container1mobile {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        max-width: 100%;
        margin: 0 auto;
    }

    .img-logomobile {
        width: 60%;
    }

    .side-imagemobile {
        width: 50vh;
        margin-bottom: 0px;
        transform: translateY(-6vh);
    }

    .seccionunomobile h1 {
        font-size: 25px;
        color: #333;
        line-height: 1.2;
        font-family: 'Poppins', sans-serif;
        margin-bottom: 0;
        margin-top: 0;
        transform: translateY(-6vh);

    }

    .p1p1mobile {
        font-size: 17px;
        line-height: 1.2;
        margin-bottom: 0px;
        margin-top: 1vh;
        color: #242424;
        transform: translateY(-6vh);
        font-family: 'DM sans', sans-serif;
        font-weight: 700;
    }
    
    .p2p2mobile {
        font-family: 'DM sans', sans-serif;
        font-weight: 400;
        font-size: 16px;
        color: #000000;
        margin-top: 3vh;

    }
    .cta-button {
        padding: 2vh 12vh;
        font-size: 16px;
        margin-top: 2vh;

    }

    .heaverdemobile {
        color: #4DBD49;
    }

}

@media (min-width: 769px) {
    .seccionunomobile {
        display: none;
    }
}



/* SECCION 2 */
.secciondos {
    background-color: #282828;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px;
}

.secciondos h2 {
    font-size: 40px;
    color: #FFFFFF;
    margin-top: 4vh;
    margin-bottom: 0;
    font-weight: 400;
}
.secciondos h1 {
    font-size: 40px;
    font-weight: 700;
    color: #4DBD49;
    margin-top: 0;
    letter-spacing: 1vh;
}

.cards-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    margin-bottom: 50px;
    width: 100%;
    max-width: 1200px;
}

.card {
    flex: 0 1 30%;
    margin: 10px 2%;
}

.card img {
    width: 100%;
    height: auto;
    display: block;
}

@media (max-width: 768px) {
    .secciondos h2 {
        font-size: 24px;
        margin-top: 2vh;
    }
    
    .secciondos h1 {
        font-size: 28px;
        letter-spacing: 0.5vh;
    }
    
    .cards-container {
        flex-direction: column;
        align-items: center;
    }
    
    .card {
        flex: 0 1 100%;
        margin: 10px 0;
        max-width: 80%;
    }
}



/*SECCION 3*/

.secciontres {
    background-color: #ffffff;
    background-image: url('https://retofreedom.sfo3.cdn.digitaloceanspaces.com/reg8/backgrounds/Fondodiv3pc.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
    padding-top: 0;
    margin-top: 0;
}

.secciontres h1 {
    margin-top: 5vh;
    margin-bottom: 5vh;
    font-family: 'Poppins', sans-serif;
    font-size: 40px;
    color: #333a32;
}


.cards-container-seccion3 {
    display: flex;
    justify-content: center;
    align-items: stretch;
    flex-wrap: wrap;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto; /* Añadido para centrar el contenedor */
}

.card3 {
    flex: 0 1 calc(33.333% - 40px);
    margin: 0 20px 20px;
    display: flex;
}


.card3 img {
    width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
}

.imagen-texto-container3 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: nowrap;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    margin-top: 10vh;
}

.imagen-container3 {
    flex: 0 1 50%;
    padding-right: 20px;
}

.imagen-container3 img {
    width: 100%;
    margin-left: -15vh;
    height: auto;
    display: block;
    object-fit: cover;
}

.texto-container3 {
    flex: 0 1 50%;
    text-align: left;
    color: #FFFFFF;
}
.texto-container3 p{
    font-size: 20px;
    font-family: 'DM sans', sans-serif;
    text-align: left;
    color: #333a32;
}


.metodofreedom h1 {
    color: #333A32;
    font-size: 40px;
}
.button3 {
    padding: 15px 80px;
    font-size: 18px;
    margin-top: 0;
}
.headers {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

.headers h2 {
    font-size: 32px;
    font-family: 'DM sans', sans-serif;
    font-weight: 700;
    line-height: 1.2;
    margin-top: 5vh;
}
.headers p {
    font-size: 20px;
    font-family: 'DM sans', sans-serif;
    line-height: 1.2;
    margin-top: 0;
}


@media (min-width: 1025px) {
    .secciontres {
        display: block;
    }
    .secciontresmobile {
        display: none;
    }
}

@media (max-width: 1024px) {
    .secciontres {
        display: none;
    }
    .secciontresmobile {
        display: block;
    }
}

@media (max-width: 1024px) {
    .secciontresmobile {
        padding: 20px;
    }
    .tittodiv3mob {
        width: 100%;
        max-width: 600px;
        margin: 0 auto;
        text-align: center;
    }

    .imagen-texto-container3mobile {
        flex-direction: column;
        align-items: center;
    }

    .imagen-container3mobile img {
        width: 100%;
        max-width: 400px;
        margin-bottom: 20px;
    }

    .texto-container3mobile {
        text-align: center;
    }

    .texto-container3mobile h1 {
        font-size: calc(24px + 1vw);
        margin-bottom: 15px;
    }
    
    .texto-container3mobile p {
        font-size: calc(16px + 0.5vw);
        line-height: 1.4;
    }
    
    .metodofreedommobile h1 {
        font-size: calc(28px + 1vw);
        margin-bottom: 20px;
        line-height: 1.2;
    }

    .cards-container-seccion3mobile {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .card3mobile {
        width: 100%;
        max-width: 400px;
        margin-bottom: 20px;
    }

    .card3mobile img {
        width: 100%;
        height: auto;
    }
    
    .headersmobile {
        text-align: center;
    }
    
    .button3mobile {
        margin-top: 3vh;
        margin-bottom: 3vh;
        padding: calc(2vh + 5px) calc(8vh + 10px);
        background: linear-gradient(90deg, #4DBD49 20%, #80e17d 50%, #4DBD49 80%) !important;
        color: rgb(255, 255, 255);
        font-size: calc(12px + 0.5vw);
        border: none !important;
        border-radius: 11px;
        cursor: pointer;
        text-decoration: none;
        display: inline-block;
    }
}
