/* Estilos generales */
body {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
    background-color: #f4f4f4;
    box-sizing: border-box;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
}

/*seccion uno 1*/
.container1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

.seccionuno {
    background-image: url('https://retofreedom.sfo3.cdn.digitaloceanspaces.com/reg8/backgrounds/Fondodiv1PC.png');
    background-size: cover;
    background-position: center;
    min-height: 85vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.left-section {
    flex: 1;
    text-align: left;
    padding-left: 5vh;
}

.right-section {
    flex: 1;
    text-align: right;
}

.img-logo {
    max-width: 60%;
    height: auto;
    margin-bottom: 3vh;
}

.container1 h1 {
    font-size: 40px;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.2;
    margin-bottom: 1vh;
}
.headverde {
    color: #4DBD49;
}


.p1p1 {
    color: #333A32;
    font-size: 24px;
    margin: 0px;
    font-family: 'DM sans', sans-serif;
    line-height: 1.2;

}
.p2p2 {
    color: #333A32;
    font-size: 20px;
    margin: 0px;
    font-family: 'DM sans', sans-serif;
}

.cta-button {
    margin-top: 20px;
    padding: 22px 90px;
    background: linear-gradient(90deg, #4DBD49 20%, #80e17d 50%, #4DBD49 80%) !important;
    color: rgb(255, 255, 255);
    font-size: 24px;
    border: none !important;
    border-radius: 11px;
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
}

.botonesglow {
    animation: pisca 1.5s infinite;
    box-shadow: 0px 0px 21px -6px #4DBD49;
}

.side-image {
    max-width: 120%;
    height: auto;
}

.logofreedom1{
    max-width: 70%;
    height: auto;
    margin: 1vh;
}


@keyframes pisca {
    70% {
        box-shadow: 0 0 0 25px rgba(0,0,0,0);
    }
    100% {
        box-shadow: 0 0 0 0 rgba(0,0,0,0);
    }
}
.reloj {
    background: linear-gradient(90deg, #4DBD49 20%, #80e17d 50%, #4DBD49 80%) !important;
}
.timer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    margin: 20px auto;
    max-width: 800px;
    padding: 0 20px;
  }

  .timer-text {
    margin-right: 40px;
  }

  .timer-text h2 {
    font-size: 27px;
    font-family: 'DM sans', sans-serif;
    color: #333;
  }

  .countdown {
    display: flex;
    justify-content: space-around;
  }

  .time-unit {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 10px;
  }

  .time-unit span {
    font-size: 1.5em;
    font-weight: bold;
    color: #3fdb54;
    background-color: #000000;
    padding: 10px 15px;
    border-radius: 8px;
    display: inline-block;
    margin-bottom: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    width: 5vh;
    height: 5vh;
    line-height: 40px;
    text-align: center;
  }
  .time-unit .label {
    font-size: 9.46px;
    background: none;
    padding: 0;
    box-shadow: none;
    color: #666;
    width: auto;
    height: auto;
    line-height: normal;
  }
  
/* SECCION 1 MOBILE */
.seccionunomobile {
    display: none;
}

@media (max-width: 768px) {
    .seccionuno {
        display: none;
    }
    .seccionunomobile {
        display: block;
        background-color: #f5f5f5;
        background-image: url('https://retofreedom.sfo3.cdn.digitaloceanspaces.com/reg8/backgrounds/Div1Mobile');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        height: auto;
    }

    .container1mobile {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        max-width: 100%;
        margin: 0 auto;
    }

    .img-logomobile {
        width: 60%;
    }

    .side-imagemobile {
        width: 70vh;
        margin-bottom: 0px;
        transform: translateY(-6vh);
    }

    .seccionunomobile h1 {
        font-size: 32px;
        color: #333;
        line-height: 1.2;
        font-family: 'Poppins', sans-serif;
        margin-bottom: 0;
        margin-top: 0;
        transform: translateY(-6vh);

    }

    .p1p1mobile {
        font-size: 20px;
        line-height: 1.2;
        margin-bottom: 0px;
        color: #242424;
        transform: translateY(-6vh);
        font-family: 'DM sans', sans-serif;
        font-weight: 700;
    }
    
    .p2p2mobile {
        font-family: 'DM sans', sans-serif;
        font-weight: 400;
        font-size: 18px;
        color: #000000;
        margin-top: 4vh;
        transform: translateY(-6vh);

    }
    .cta-button {
        padding: 3vh 15vh;
        font-size: 16px;
        margin-top: 2vh;
        transform: translateY(-6vh);

    }

    .heaverdemobile {
        color: #4DBD49;
    }
    /* Responsividad del timer */
    .timer-container {
        flex-direction: column;
        padding: 10px;
    }

    .timer-text {
        margin-right: 0;
        margin-bottom: 10px;
    }

    .timer-text h2 {
        font-size: 20px;
        text-align: center;
    }

    .countdown {
        flex-wrap: wrap;
        justify-content: center;
    }

    .time-unit {
        margin: 5px;
    }

    .time-unit span {
        font-size: 1.2em;
        padding: 8px 12px;
        width: 4vh;
        height: 4vh;
        line-height: 30px;
    }

    .time-unit .label {
        font-size: 8px;
    }
}

@media (min-width: 769px) {
    .seccionunomobile {
        display: none;
    }
}



/* SECCION 2 */
.secciondos {
    background-color: #282828;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px;
}

.secciondos h2 {
    font-size: 40px;
    color: #FFFFFF;
    margin-top: 4vh;
    margin-bottom: 0;
    font-weight: 400;
}
.secciondos h1 {
    font-size: 40px;
    font-weight: 700;
    color: #4DBD49;
    margin-top: 0;
    letter-spacing: 1vh;
}

.cards-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    margin-bottom: 50px;
    width: 100%;
    max-width: 1200px;
}

.card {
    flex: 0 1 30%;
    margin: 10px 2%;
}

.card img {
    width: 100%;
    height: auto;
    display: block;
}



/*SECCION 3*/

.secciontres {
    background-color: #ffffff;
    background-image: url('https://retofreedom.sfo3.cdn.digitaloceanspaces.com/reg8/backgrounds/Fondodiv3pc.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
    padding-top: 0;
    margin-top: 0;
}

.secciontres h1 {
    margin-top: 5vh;
    margin-bottom: 5vh;
    font-family: 'Poppins', sans-serif;
    font-size: 40px;
    color: #333a32;
}


.cards-container-seccion3 {
    display: flex;
    justify-content: center;
    align-items: stretch;
    flex-wrap: wrap;
    width: 100%;
    max-width: 1200px;
}

.card3 {
    flex: 0 1 calc(33.333% - 40px);
    margin: 0 20px 20px;
    display: flex;
}

.card3 img {
    width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
}

.imagen-texto-container3 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: nowrap;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    margin-top: 10vh;
}

.imagen-container3 {
    flex: 0 1 50%;
    padding-right: 20px;
}

.imagen-container3 img {
    width: 100%;
    margin-left: -15vh;
    height: auto;
    display: block;
    object-fit: cover;
}

.texto-container3 {
    flex: 0 1 50%;
    text-align: left;
    color: #FFFFFF;
}
.texto-container3 p{
    font-size: 20px;
    font-family: 'DM sans', sans-serif;
    text-align: left;
    color: #333a32;
}


.metodofreedom h1 {
    color: #333A32;
    font-size: 40px;
}
.button3 {
    padding: 15px 80px;
    font-size: 18px;
    margin-top: 0;
}
.headers {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

.headers h2 {
    font-size: 32px;
    font-family: 'DM sans', sans-serif;
    font-weight: 700;
    line-height: 1.2;
}
.headers p {
    font-size: 20px;
    font-family: 'DM sans', sans-serif;
    line-height: 1.2;
}